DB_HOST=configure_la_variable_host
DB_PORT=configure_la_variable_port
DB_USERNAME=configure_la_variable_username
DB_PASSWORD=configure_la_variable_password
DB_DATABASE=configure_la_variable_database

JWT_SECRET=configure_el_jwt_secret